doctype html
html
  head
    title Stone Pagamentos API
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap', rel='stylesheet')

  body
    noscript
        strong
          | We're sorry but interface doesn't work properly without JavaScript enabled. Please enable it to continue.
    section.hero.is-primary
      .hero-body
        #header.container
          img.header-img.title(src='images/logo-stone-alt.png')
          h2.subtitle API
    //- #header
      img.header-img(src='images/logo-stone.png')
    #app

    footer.footer
      script(src="https://kit.fontawesome.com/4b9ae9f164.js")
      .content.has-text-centered
        p
          strong API de Funcionários Stone
          |  feito por 
          a(href='https://www.linkedin.com/in/thomas-l-22a77a13a/') Thomas G. Lopes
          | .
